body{
background-color: #FFECBC;
font-family: Arial, sans-serif;
margin: 0;
padding:0;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}

.main_container{
    position: relative;
    width: 900px;
    height: 500px;
}

.main_container > object {
    position: absolute;
}

.main_container > object:first-child{
    top: -60px;
    left: -80px;
    width: 180px;
    z-index: 10;
}

.main_container > object:last-child{
    bottom: -40px;
    right: -100px;
    height: 110%;
    z-index: 0;
}

.loginbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F5E9C9;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px ;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 5;
}

.box-left{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.box-left h1{
    font-size:2.2em;
    color: #3e2723;
    margin:0;
}

.box-left p{
    font-size: 1.1em;
    margin: 0;
}

.loginButton{
    background-color: #D4A373;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px; 
    font-weight: bold;
    transition: 0.3s;
}

.box-right{
    background-color: #EADBCB;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.inputs label{
    background-color: #CCA472;
    color:white;
    padding: 8px 12px;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 0,9em;
}

.inputs{
    p {
    position: relative; /* z-index'in çalışması için gereklidir */
    z-index: 200;     /* Diğer her şeyden daha yüksek bir değer verin */
}
}
