p{
    font-family: 'Milonga', 'Limelight', Georgia, 'Times New Roman', serif;
}

body{
    background-color: #FFECBC;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
    'sol orta sag';
}
p {
    font-family: 'Playfair Display', serif;
    color: #3c3c3c;
    line-height: 1.8;
    font-size: 16px;
    padding: 20px;
}

button{
    background-color: #DEAC56;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    border:0;
    border-top-right-radius: 12px; 
    border-bottom-left-radius: 12px;
    width: 200px; 
    height: 70px;
    padding: 0 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 169, 39);
}

.panel1{
    grid-area: sol;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 30px 10px;
    z-index: 5;
}
.panel1 object{
    margin:0;
    width: 250px;
    height: auto;
}
.panel1 button{
    align-self: flex-start;
    margin-top: 100px;
    width: 250px;
    height: 90px;
}

.panel2{
    grid-area: orta;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 50px 20px;
    z-index: 10;
}

.panel2 p{
    text-align: left;
    width: 90%;
}

.panel3{
    grid-area: sag;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px;
    z-index:10;
}

.panel3 object{
    align-self: flex-start;
}

.panel3 button{
    align-self: flex-end;
    margin-top: 50px;
    width: 200px;
    height: 70px;
    z-index: 15;
}


button{
    background-color: #DEAC56;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    border:0cm;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    width:368px;
    height: 119px;
}

button:hover{
    background-color: rgb(255, 169, 39);
}