body {
    background-color: #ffecc2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kayitForm{
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    background-color: #F5E9C9;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 40px;
}

.title{
    font-size: 30px;
    color: #4b2e22;
    margin-bottom: 15px;
}

.inf{
    font-size: 18px;
}

.leftBox{
    align-items: flex-start;
    width: 50%;
    padding: 20px;
    display: block;
}
.rightBox{
    align-items: flex-end;
    display: block;
    flex: 1 1 45%;
    min-width: 300px;
}

.rightbox form {
  width: 100%;
  max-width: 520px;
  font-size: 19px;
}

